.menu {
    display: none;
    background: black;
    color: white;
    padding: 10px;

    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    height: 500px;
    margin-left: -300px;   /* negative half of width above */
    margin-top: -250px;   /* negative half of height above */

    border-radius: 7px;
    border: 1px solid white;
}

.menuButton {
    background: transparent;
    border-radius: 3px;
    border: solid 1px white;
    cursor: pointer;
    color: white;
}

.normalLabel {
    margin-right: 15px;
}

a {
    color: white;
}

.divSpacer {
    padding-bottom: 5px;
}

.presetPadding {
    padding: 3px;
    margin: 3px;
}

#closeButton, #errorCloseButton {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

/* Upload button custom styling */

#uploadButton {
    display: none;
}

#uploadLabel {
    padding: 1px 6px;
}