.menuButton {
    background: transparent;
    border-radius: 3px;
    border: solid 1px white;
    cursor: pointer;
    color: white;
}

.normalLabel {
    margin-right: 15px;
}

a {
    color: white;
}

.divSpacer {
    padding-bottom: 5px;
}

.presetPadding {
    padding: 3px;
    margin: 3px;
}

.closeButton {
    position: absolute;
    bottom: 20px;
    right: 20px;
}



/* Upload button custom styling */

#uploadButton {
    display: none;
}

#uploadLabel {
    padding: 1px 6px;
}